label {
    color: @theme_text_color;
    font-size: 20px;
    font-family: "Iosevka", monospace;
}

.bar {
    background-color: @theme_bg_color;
}

.end {
    margin-right: 8px;
}

.bghaver {
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: alpha(@theme_fg_color, 0.04);
    padding: 0 12px;
    border-radius: 4px;
}

.bghaver:hover {
    background-color: alpha(@theme_fg_color, 0.1);
}

.systray-item {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
    border-color: @borders;
    transition: ease-in-out 100ms;
    margin: 8px;
    padding: 4px;
}

.systray-item:hover {
    background-color: alpha(@theme_selected_fg_color, 0.15);
}

.battery-charging {
    color: green;
}

.volume {
    font-size: 2px;
    color: @theme_selected_bg_color;
}

window.notification-popups box.notifications {
    padding: .5em;
}

.icon {
    min-width: 48px;
    min-height: 48px;
    margin-right: 1em;
}

.icon image {
    font-size: 58px;
    /* to center the icon */
    margin: 5px;
    color: @theme_fg_color;
}

.icon box {
    min-width: 48px;
    min-height: 48px;
}

.notification {
    min-width: 350px;
    border-radius: 4px;
    padding: 1em;
    margin: .5em;
    background-color: @theme_bg_color;
}

.notif-box {
    transition: ease-in-out 200ms;
}

.notif-box.invis {
    opacity: 0;
}

.notification.critical {
    border: 1px solid lightcoral;
}

.title {
    color: @theme_fg_color;
    font-size: 1.4em;
}

.body {
    color: @theme_unfocused_fg_color;
}

.actions .action-button {
    margin: .8em .4em 0;
}

.actions .action-button:first-child {
    margin-left: 0;
}

.actions .action-button:last-child {
    margin-right: 0;
}
